body{
    background: black;
}

.calculator{
    max-width: 350px;
    margin-inline: auto;
}
#output{
    /* width: 328px; */
    height: 150px;
    background: white;
    font-size: 90px;;
    
    
}
.button-container{
    display: flex;
    flex-wrap: wrap;
}
.button{
    width: 25%;
    aspect-ratio: 1;
    font-size: large;
}
